{% extends 'base.html' %}

{% block title %}
    Doctor's 
{% endblock %}

{% block content %}
<h1 class="text-center">Our Doctors</h1>    
<hr>
<div class="container text-center bg-light">
    {% for d in doctor %}

    <div class="card text-center" style="width: 16rem; margin-bottom:5rem; display:inline-block; border:none;">
        <img style="width:80%; height:100%;" src="{{d.doc_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{d.doc_name}} </h5>
          <p class="card-text">{{d.doc_spec}} </p>
          <h6>{{d.dep_name}} </h6>
        </div>
      </div>
    
    {% endfor %}
</div>   
{% endblock %}