{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .login-form {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
    }
    h3{
      display:flex;
      justify-content: center;
  }
  </style>
</head>
<body>
  <div class="login-form">
    <h2 class="text-center mb-4">Login</h2>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label for="text">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
      </div>
      <button type="submit" value="login" class="btn btn-primary btn-block">Login</button>
    </form>
    <div>
      <br>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
  </div>  
    <p class="text-center mt-3">Don't have an account? <a href="register">Register here</a></p>
  </div>
</body>
</html>
