.container{
    width: 80%;
    margin: auto;
}
.contact-box{
    background-color: rgba(163, 39, 39, 0.941);
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    color: white;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: beige;
}
h1{
    margin-top: 10px;
}
.container p{
    margin-bottom: 20px;
    font-weight: 500;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;  
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    display: block;
}
button{
    background: black;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    left: 175px;
}
h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}